{% extends 'blog/base.html' %}
{% block content %}
<!--{% with data=posts %}
<div>
    <app data="{{ data }}">Hi</app>
</div>
{% endwith %} -->

{% for post in posts %}
        <div class="post">
            <post id="{{post.id}}" text="{{post.text}}" title="{{post.title}}" author="{{post.author}}" published_date="{{post.published_date}}"></post>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
       
{% endfor %}

{% endblock %}